$dark: #011936;
$lightGray: #FEFDF9;
$lightBlue: #007BFF;
$yellow: #fac31f;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: $lightGray url(wallpaper.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.calculator-container {
    padding: 20px 30px 60px 30px;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    min-height: 200px;
    min-width: 460px;
    background:#ED254E;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 1px 2px 12px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 1px 2px 12px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 1px 2px 12px 0px rgba(50, 50, 50, 0.35);

    input {
        height: 180px;
        background-color: $dark;
        border-color: $dark;
        color: $lightGray;
        font-size: 90px;
        text-align: right;
        padding-right: 30px;
        width: 360px;
        border-radius: .1rem;
        &:focus {
            color: $lightGray;
            background-color: $dark;
        }
    }

    .btn {
        border-radius: 0;
        &-primary {
            background-color: $yellow;
            color: $dark;
            &:hover {
                background-color: #e0a800;
                border-color: #d39e00;
            }
        }
        &-secondary {
            background-color: $lightBlue;
            &:hover {
                color: #fff;
                background-color: #0069d9;
                border-color: #0062cc;
            }
        }
    }

    .btn-group-vertical,
    .btn-group-horizontal {
        border: 2px solid;
        display: flex;
    }
    .btn-group-vertical {
        right: 26px;
        top: 20px;
        &>.btn {
            height: 45px;
            border-color: $dark;
            width: 40px;
        }
    }
    .btn-group-horizontal {
        display: flex;
        justify-content: stretch;
        right: 26px;
        bottom: 32px;
        width: 404px;
        &>.btn {
            height: 40px;
            flex: 1;
            border-color: $dark;
        }
    }
   
}
