* {
    margin: 0;
    padding: 0;
}

body {
    background: #FEFDF9 url(wallpaper.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

.calculator-container {
    padding: 20px 40px 44px 20px;
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    min-height: 200px;
    min-width: 400px;
    background:#ED254E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#user-input {
    height: 180px;
    background-color: #011936;
    border-color: #011936;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 90px;
    text-align: right;
    padding-right: 30px;
    width: 340px;
}

.btn-group-vertical,
.btn-group-horizontal {
    border: 2px solid;
    display: flex;

}

.btn-group-vertical>.btn, .btn-group>.btn {
    height: 45px;
    border-color: #011936;
}


.btn-group-vertical {
    right: 20px;
    top: 20px;
}

.btn-group-horizontal {
    display: flex;
    justify-content: stretch;
    right: 20px;
    bottom: 20px;
    width: 360px;
}

.btn-group-horizontal>.btn {
    flex: 1;
    border-color: #011936;
}