body {
  font-family: 'Roboto', sans-serif;
}

.background {
  position: relative;
  padding: 10%;
  display: flex;
  display: -webkit-flex;
  background-image: url(author.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.background:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #595959;
  background: linear-gradient(90deg, #0a0a0a 0%, #0a0a0a 100%);
  opacity: 0.85;
  z-index: 2;
}

.col {
  z-index: 3;
}

.col--with-left-padding {
  padding-left: 5%;
}

h1 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 800;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
}

p {
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}

.col {
  border: 2px solid green;
}

div.col-4 {
  flex: 40%;
  text-align: right;
}

div.col-8 {
  flex: 60%;
}

.form-input {
  position: relative;
  padding-top: 35px;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  display: inline-block;
  width: 100%;
}

.form-input label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  display: inline-block;
}

.form-input label:before {
  content: ' ';
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 3px;
}

.form-input label span.form-text {
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 14px;
  margin-top: 17px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #acacac;
}

input[type="text"] {
  width: 100%;
  background: transparent;
  -webkit-box-shadow: none;
  border: none;
  position: relative;
  margin: 0;
  font-size: 14px;
  padding: 15px 0;
  color: #fff;
}

textarea {
  background: transparent;
}
