$fira: 'Fira Sans', sans-serif;
$roboto: 'Roboto', sans-serif;
$pink: #ff3aca;


body {
    font-family: $roboto;
}

.background {
    position: relative;
    padding: 10%;
    display: flex;
    display: -webkit-flex;
    background-image: url(author.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
    .background:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #595959;
        // background: linear-gradient(90deg, $pink 0%,#0a0a0a 100%);
        background: linear-gradient(90deg,#0a0a0a 0%,#0a0a0a 100%);
        opacity: 0.85;
        z-index: 2;
}

h1 {
    flex: 1;
    font-size: 35px;
    line-height: 45px;
    font-weight: 800;
    font-family: $fira;
    color: #fff;
}

p {
    flex: 2;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
}

.col {
    z-index: 3;
    &.col-4 {
        flex: 33.33%;
        text-align: right;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
    }
    &.col-8 {
        flex: 66.7%;
    }
    &--with-left-padding {
        padding-left: 5%;
    }
}

//  Form
form {
    .btn {
        color: #fff;
        background-color: $pink;
        border-color: $pink;
        cursor: pointer;
        font-family: $roboto;
        padding: 16px 23px;
        border-radius: 200px;
        -webkit-border-radius: 200px;
        -o-border-radius: 200px;
        box-shadow: none;
        -ms-transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), transform .45s cubic-bezier(0.25, 1, 0.33, 1), border-color .45s cubic-bezier(0.25, 1, 0.33, 1), color .45s cubic-bezier(0.25, 1, 0.33, 1), background-color .45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);
        -webkit-transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), transform .45s cubic-bezier(0.25, 1, 0.33, 1), border-color .45s cubic-bezier(0.25, 1, 0.33, 1), color .45s cubic-bezier(0.25, 1, 0.33, 1), background-color .45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);
        transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), transform .45s cubic-bezier(0.25, 1, 0.33, 1), border-color .45s cubic-bezier(0.25, 1, 0.33, 1), color .45s cubic-bezier(0.25, 1, 0.33, 1), background-color .45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);
        &--with-t-margin {
            margin-top: 20px;
        }
        &:hover {
            opacity: .8;
        }
    }
}

.form-field {
    position: relative;
    padding-top: 35px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    display: inline-block;
    width: 80%;
    label {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        display: inline-block;
        &:before {
            content: '';
            border-bottom: 1px solid rgba(255,255,255,0.3);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: block;
            height: 3px;
        }
        span {
            &.label-text {
                position: absolute;
                top: 50%;
                left: 0;
                font-size: 14px;
                margin-top: 17px;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                color: #acacac;
            }
            &.label-text-inner {
                color: rgba(255,255,255,0.6);
                font-weight: bold;
                -webkit-transition: all 0.25s cubic-bezier(.39,.71,.56,.98);
                transition: all 0.25s cubic-bezier(.39,.71,.56,.98);
                display: inline-block;
                -webkit-animation: label-text-out  0.25s cubic-bezier(.39,.71,.56,.98) forwards;  
                animation: label-text-out  0.25s cubic-bezier(.39,.71,.56,.98) forwards;  
            }
        }
    }
    &.textarea {
        label span.label-text {
            top: 35px;
            transform: none;
            -webkit-transform: none;
        }
        textarea {
            min-height: 45px;
            resize: none;
            position: relative;
            line-height: 22px;
        }
    }
    &.active {
        label {
            span.label-text-inner {
                -webkit-animation: label-text-in 0.25s cubic-bezier(.39,.71,.56,.98) forwards;
                animation: label-text-in 0.25s cubic-bezier(.39,.71,.56,.98) forwards;
            }
        }
    }
    
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
    position: relative;
    margin: 0;
    font-size: 14px;
    padding: 15px 0;
    padding-left: 3px;
    color: #fff;
    &:focus {
        outline-color: $pink; 
    }
}


// leave label text at the top of input when input if filled with text
.form-field.filled label .label-text-inner {
    -webkit-animation: label-text-in 0.25s cubic-bezier(.39,.71,.56,.98) forwards;
    animation: label-text-in 0.25s cubic-bezier(.39,.71,.56,.98) forwards;
}

.form-field.empty label .label-text-inner {
    -webkit-animation: label-text-out 0.25s cubic-bezier(.39,.71,.56,.98) forwards;
    animation: label-text-out 0.25s cubic-bezier(.39,.71,.56,.98) forwards;
}

// keyframes
@-webkit-keyframes label-text-in {
    50% { opacity:0; -webkit-transform: translateX(15px) translateY(0px); font-size:14px}
    51% { opacity:0; -webkit-transform: translateX(-10px) translateY(-36px); font-size:12px; line-height:12px}
    100% { opacity:1; -webkit-transform: translateX(0px) translateY(-36px); font-size:12px; line-height:12px}
}

@keyframes label-text-in {
    50% { opacity:0; transform: translateX(15px) translateY(0px); font-size:14px}
    51% { opacity:0; transform: translateX(-10px) translateY(-36px); font-size:12px; line-height:12px}
    100% { opacity:1; transform: translateX(0px) translateY(-36px); font-size:12px; line-height:12px}
}

@-webkit-keyframes label-text-out {
    0%{ -webkit-transform: translateY(-36px) translateX(0px); font-size:12px; line-height:12px}
    50% { opacity:0; -webkit-transform: translateX(-10px) translateY(-36px); font-size:12px; line-height:12px}
    51% { opacity:0; -webkit-transform: translateX(15px) translateY(0px); font-size:14px}
    100% { opacity:1; -webkit-transform: translateX(0px) translateY(0px)}
}

@keyframes label-text-out {
    0%{ transform: translateY(-27px) translateX(0px); font-size:12px; line-height:12px}
    50% { opacity:0; transform: translateX(-10px) translateY(-27px); font-size:12px; line-height:12px}
    51% { opacity:0; transform: translateX(15px) translateY(0px); font-size:14px}
    100% { opacity:1; transform: translateX(0px) translateY(0px)}
}

// Error messages
.error {
    position: absolute;
    bottom: -15px;
    display: none;
    width: 100%;
    font-size: 80%;
    color: crimson;
    text-align: center;
  }
  
  .error.active {
    display: block;
  }