* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif; 
}

.container {
    padding: 80px 0 20px 0;
    background-color: #F6F8F8;
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;    
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 5%;
}

.search-label {
    text-align: left;
    margin-bottom: 10px;
    color: #aebdc1;
    display: block;
    text-transform: uppercase;
}

#search {
    width: 50%;
    text-align: center;
    margin: 20px auto 40px auto;
    transition: 0.4s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem 0;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.form-control:focus,
.custom-select:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: 0;
}

.form-control::-webkit-input-placeholder { 
    font-weight: 400;
    font-family: 'Roboto';
    color: rgba(117, 117, 117, 0.76);
  }
  ::-moz-placeholder { 
    font-weight: 400;
    font-family: 'Roboto';
    color: rgba(117, 117, 117, 0.76);
  }
  .form-control:-ms-input-placeholder {
    font-weight: 400;
    font-family: 'Roboto';
    color: rgba(117, 117, 117, 0.76);
  }
  .form-control:-moz-placeholder {
    font-weight: 400;
    font-family: 'Roboto';
    color: rgba(117, 117, 117, 0.76);
  }

.custom-select {
    margin: 5px 0;
    display: inline-block;
    max-width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.25;
    color: #464a4c;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center;
    -webkit-background-size: 8px 10px;
    background-size: 8px 10px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.buttons {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.button {
    cursor: pointer;
    font-weight: 400;
    font-family: 'Roboto';
    flex: 1;
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border: 1px solid rgba(0,0,0,.15);
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.button--primary {
    background: #F83A3A;
    color: #FFF;
}

.button--secondary {
    color: #F83A3A;
    border-color: #F83A3A;
    background: #FFF;
}


.button:nth-child(1) {
    margin-right: 4px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

button, input, optgroup, select, textarea {
    font-weight: 400;
    font-family: 'Roboto';
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

#keyword {
    position: relative;
    font-size: 3.75rem;
    background: transparent;
    border: 0;
    display: block;
    overflow: hidden;
    resize: none;
    white-space: pre-wrap;
    width: 100%;
    word-wrap: break-word;
    /* transition: border-color 2s; */
}

#error {
    text-align: left;
    margin-top: 5px;
    color: #F83A3A;
}

#articles li {
    width: 50%;
    float: left;
    position: relative;
    list-style: none;
    padding: 5px 0;
}

#articles li:before {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 5px;
    left: 0;
    background-image: linear-gradient(to top,#073956,#131111);
    opacity: .6; 
}

#articles li:nth-child(2n+1) {
    padding-left: 0px;
    padding-right: 5px;
}
#articles li:nth-child(2n+1):before {
    left: 0px;
    right: 5px;
}

#articles li:nth-child(2n+2) {
    padding-right: 0px;
    padding-left: 5px;
}

#articles li:nth-child(2n+2):before {
    right: 0px;
    left: 5px;
}


.article {
    cursor: pointer;
    background-color: #D74343;
    background-size: cover;
    background-position: center center;
    min-height: 475px;
    max-width: 100%;
    height: auto;
}

.article__content {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
}

.article__info {
    padding: 1px 8px;
    color: #fffefe;
    font-size: 15px;
    display: table;
    font-weight: 600;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    font-family: 'Roboto';
}

.article__source {
    display: inline-block;
    font-weight: 600;
    margin-right: 5px;
}

.article__title {
    width: 100%;
    font-size: 40px;
    line-height: 40px;
    padding: 2px 8px 0px;
    margin: 10px 0px 25px 0px;
    color: #FFF;
    font-family: 'Roboto Condensed', sans-serif;    
    font-weight: 600;
    overflow: hidden;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.article__link {
    text-decoration: none;
    color: #FFF;
}

.article__description {
    line-height: 24px;
    color: #FFF;
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    font-family: 'Roboto';
    opacity: 0;
    visibility: hidden;
}

.article__more {
    text-decoration: none;
    font-family: 'Roboto Condensed';
    display: table;
    clear: both;
    background: #F83A3A;
    color: #FFF;
    font-size: 23px;
    position: relative;
    font-weight: 400;
    padding: 7px 15px 7px 15px;
    border-radius: 6px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    border: 1px solid transparent;
    text-transform: uppercase;
}

.article__more:hover {
    padding-left: 30px;
}

.article__more:hover,
.article__more:focus {
    background: #FFF;
    color: #F83A3A;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.arrow-right {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
    top: 0;
    left: 8px;
    opacity: 0;
    width: 10px;
    height: 10px;
    margin-top: -10px;
}

.article__more:hover i,
.article__more:active i {
    transition: opacity 0.5s, top 0.5s, left 0.5s;
    opacity: 1;
    top: 17px;
}

.arrow-right:before {
    content: ">";
}

.article:hover .article__description {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}


.article:hover .article__info {
    display: table;
    background: #FFF;
    color: #F83A3A;
    padding: 1px 8px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.article:hover .article__title {
    background: #F83A3A;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}

.article:hover .article__more {
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.no-results {
    text-align: center;
}

input[type=submit] {
    left: 1.25em;
    margin: 0;
    width: 100%;
    background-image: url('searchicon.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    vertical-align: middle;
}

input:active,
input:focus {
    outline-style: dotted;
    outline-width: thin;
}

#to-top {
        display: block;
        position: fixed;
        text-align: center;
        right: 17px;
        bottom: 30px;
        color: #fff;
        cursor: pointer;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 10;
        height: 30px;
        width: 30px;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color 0.1s linear;
        -moz-transition: background-color 0.1s linear;
        -webkit-transition: background-color 0.1s linear;
        -o-transition: background-color 0.1s linear;
    transition: box-shadow 0.3s cubic-bezier(.55,0,.1,1),background-color 0.1s linear;
    -webkit-transition: -webkit-box-shadow 0.3s cubic-bezier(.55,0,.1,1),background-color 0.1s linear;
    -moz-transition: -moz-box-shadow 0.3s cubic-bezier(.55,0,.1,1),background-color 0.1s linear;
    background-color: rgba(0,0,0,0.25)
}

.arrow-up::before {
    font-size: 20px;
    content: "⇡";
    vertical-align: -webkit-baseline-middle;
    font-style: normal;
}