// Source: https://www.imgix.com/
//  --- Global styles ---

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}


// === Mixins and Variables ===

$red: #DB382C;
$mobile-small-width: 480px;
$mobile-large-width: 648px;
$tablet-width: 960px;
$desktop-width: 1200px;

%prefix {
  position: absolute;
  z-index: -1;
  margin: auto;
  background-color: #354b5a;
  content: '';
}

%centered {
  margin-right: auto;
  margin-left: auto;
}

%flexwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


@mixin atSmallest {
    @media (min-width: #{$mobile-small-width}) {
      @content;
    }
  }

@mixin atSmall {
    @media (min-width: #{$mobile-large-width}) {
      @content;
    }
}

@mixin atMedium {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// ============================

.services {
    min-height: 100vh;
    padding: 30px 0;
    background-color: #22303a;

    &__content {
      @extend %flexwrap;
      padding-right: 15px;
      padding-left: 15px;
      margin: 0 auto;
      max-width: 1440px;
      @include atSmall {
        padding-right: 36px;
        padding-left: 36px;
      }
    }
    &__title {
        -webkit-flex: 0 0 100%;
        -moz-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        line-height: 1.25;
        text-align: center;
        font-family: 'Rubik Mono One', sans-serif;
        margin-bottom: 32px;
        @include atLarge {
            margin-bottom: 72px;
            font-size: 44px;
        }
        &--light {
            color: #fff;
        }
        &:before {
          @extend %centered;
          content: '';
          background: #00c0fa;
          height: 4px;
          display: block;
          width: calc(100% * 0.16);
          margin-bottom: 10px;
          @include atSmall {
            width: calc(100% * 0.08);
          }
        }
    }

    &__list {
      @extend %flexwrap;
      list-style: none;
      -webkit-justify-content: flex-end;
      -moz-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      @include atSmall {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
      }
    }

    &__button {
      border-radius: 3px;
      width: 264px;
      height: 40px;
      line-height: 40px;
      background: $red;
      border-color: $red;
      text-align: center;
      text-decoration: none;
      color: #fff;
      -webkit-transition: background-color 125ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: background-color 125ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
      font-size: 1rem;
      margin-top: 64px;
      margin: 48px auto 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;

      @include atSmall {
        line-height: 48px;
        font-size: 1.125rem;
        width: 288px;
        height: 48px;
      }
      &:hover {
        background-color: #f97541;
      }
    }
}


.block {
  @extend %flexwrap;
  // border: 1px solid red;
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  margin: 0 6px;
  z-index: 1;

  @include atSmall {
    -webkit-flex: 0 0 -webkit-calc( 25% - 12px);
    -moz-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 12px);
    flex: 0 0 calc(25% - 12px);
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &:not(:last-of-type) {
    margin-bottom: 40px;
    @include atSmall {
      margin-bottom: 0;
    }
  }
  &:first-child .block__bullet::before {
      display: none;
  }
  &:last-child .block__bullet::after {
    display: none;
  }
    
  &__icon {
    @extend %centered;
    width: 140px;
    height: 140px;
    margin-bottom: 70px;
    @include atSmall {
      margin-bottom: 80px;
      height: 200px;
      width: 200px;
    }
  }

  &__bullet {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: -48px;
    border-radius: 50%;
    background-color: $red;
    width: 12px;
    height: 12px;
    @include atSmall {
      top: 240px;
      left: 50%;
    }


    &:after {
      @extend %prefix;
      top: 50%;
      right: 0;
      left: 0;
      bottom: -240px;
      width: 2px;

      @include atSmall {
        height: 2px;
        left: 50%;
        right: -192px;
        width: initial;
        bottom: 0;
        top: 0;
      }
    }

    &:before {
      @extend %prefix;
      top: -240px;
      right: 0;
      left: 0;
      bottom: 50%;
      width: 2px;

      @include atSmall {
        height: 2px;
        top: 0;
        bottom: 0;
        left: -192px;
        right: 50%;
        width: initial;
      }
    }
  }

  &__text {
    // border: 1px solid green;
    margin: 0 12px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 286px;
   
    @include atSmall {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.75;
    color: #b2bec8;
    text-align: center;
    margin-bottom: 8px;
    color: #fff;
    @include atSmall {
      font-weight: 500;
    }
  }

  &__description {
    line-height: 1.75;
    color: #b2bec8;
    font-weight: 300;
  }
}