* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.block__bullet:after, .block__bullet:before {
  position: absolute;
  z-index: -1;
  margin: auto;
  background-color: #354b5a;
  content: '';
}

.services__title:before, .block__icon {
  margin-right: auto;
  margin-left: auto;
}

.services__content, .services__list, .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.services {
  min-height: 100vh;
  padding: 30px 0;
  background-color: #22303a;
}

.services__content {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  max-width: 1440px;
}

@media (min-width: 648px) {
  .services__content {
    padding-right: 36px;
    padding-left: 36px;
  }
}

.services__title {
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  line-height: 1.25;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
  margin-bottom: 32px;
}

@media (min-width: 1200px) {
  .services__title {
    margin-bottom: 72px;
    font-size: 44px;
  }
}

.services__title--light {
  color: #fff;
}

.services__title:before {
  content: '';
  background: #00c0fa;
  height: 4px;
  display: block;
  width: calc(100% * 0.16);
  margin-bottom: 10px;
}

@media (min-width: 648px) {
  .services__title:before {
    width: calc(100% * 0.08);
  }
}

.services__list {
  list-style: none;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (min-width: 648px) {
  .services__list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.services__button {
  border-radius: 3px;
  width: 288px;
  height: 48px;
  line-height: 48px;
  background: #DB382C;
  border-color: #DB382C;
  text-align: center;
  text-decoration: none;
  color: #fff;
  -webkit-transition: background-color 125ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: background-color 125ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font-size: 1.125rem;
  margin-top: 64px;
  margin: 48px auto 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.services__button:hover {
  background-color: #f97541;
}

.block {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  margin: 0 6px;
  z-index: 1;
}

@media (min-width: 648px) {
  .block {
    -webkit-flex: 0 0 -webkit-calc( 25% - 12px);
    -moz-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 12px);
    flex: 0 0 calc(25% - 12px);
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.block:not(:last-of-type) {
  margin-bottom: 54px;
}

@media (min-width: 648px) {
  .block:not(:last-of-type) {
    margin-bottom: 0;
  }
}

.block:first-child .block__bullet::before {
  display: none;
}

.block:last-child .block__bullet::after {
  display: none;
}

.block__icon {
  width: 140px;
  height: 140px;
  margin-bottom: 70px;
}

@media (min-width: 648px) {
  .block__icon {
    margin-bottom: 80px;
    height: 200px;
    width: 200px;
  }
}

.block__bullet {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: -48px;
  border-radius: 50%;
  background-color: #DB382C;
  width: 12px;
  height: 12px;
}

@media (min-width: 648px) {
  .block__bullet {
    top: 240px;
    left: 50%;
  }
}

.block__bullet:after {
  top: 50%;
  right: 0;
  left: 0;
  bottom: -240px;
  width: 2px;
}

@media (min-width: 648px) {
  .block__bullet:after {
    height: 2px;
    left: 50%;
    right: -192px;
    width: initial;
    bottom: 0;
    top: 0;
  }
}

.block__bullet:before {
  top: -240px;
  right: 0;
  left: 0;
  bottom: 50%;
  width: 2px;
}

@media (min-width: 648px) {
  .block__bullet:before {
    height: 2px;
    top: 0;
    bottom: 0;
    left: -192px;
    right: 50%;
    width: initial;
  }
}

.block__text {
  margin: 0 12px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 286px;
}

@media (min-width: 648px) {
  .block__text {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}

.block__subtitle {
  font-size: 1.3125rem;
  line-height: 1.75;
  color: #b2bec8;
  font-weight: 500;
  text-align: center;
  margin-bottom: 8px;
  color: #fff;
}

.block__description {
  line-height: 1.75;
  color: #b2bec8;
  font-weight: 300;
}
