
//  --- Global styles ---

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

// === Mixins and Variables ===

$mobile-small-width: 480px;
$mobile-large-width: 648px;
$tablet-width: 960px;
$desktop-width: 1200px;

%prefix {
  position: absolute;
  z-index: -1;
  height: 2px;
  margin: auto;
  background-color: #354b5a;
  content: '';
  bottom: 0;
  top: 0;
  width: initial;
}


@mixin atSmallest {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }

@mixin atSmall {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
}

@mixin atMedium {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}



.services {
    padding: 80px 0;
    background-color: #22303a;
    &__title {
        line-height: 1.25;
        text-align: center;
        font-family: 'Rubik Mono One', sans-serif;
        @include atLarge {
            margin-bottom: 72px;
            font-size: 44px;
        }
        &--light {
            color: #fff;
        }
        &:before {
            content: '';
            background: #00c0fa;
            height: 4px;
            display: block;
            width: calc(100% * 0.08);
            margin-right: auto;
            margin-left: auto;
            margin-bottom: 10px;
        }
    }

    &__list {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}


.block {
    position: relative;
    // border: 1px solid red;
    -webkit-flex: 0 0 -webkit-calc( 25% - 12px);
    -moz-box-flex: 0;
    -ms-flex: 0 0 calc(25% - 12px);
    flex: 0 0 calc(25% - 12px);
    margin: 0 6px;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    
    &__icon {
        width: 144px;
        height: 144px;
        margin-bottom: 80px;
    }

    &__bullet {
      position: absolute;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #f8510f;
      top: 176px;
      width: 12px;
      height: 12px;

      &:after {
        @extend %prefix;
        left: 50%;
        right: -192px;
        width: initial;
      }

      &:before {
        @extend %prefix;
        left: -192px;
        top: 0;
        right: 50%;
      }

    }
}