* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container {
    border: 1px solid green;
    min-width: 1170px;
    min-height: 100vw;
    padding: 100px 120px;
    margin-right: auto;
    margin-left: auto;
    background-color: #3336AC;
    background-image: linear-gradient(-136deg, #3336AC 0%, #156FD2 100%);
}

.col {
    float: left;
    position: relative;

    &__4 {
        width: 33.33333%;
    }
    &__8 {
        width: 66.66667%;
    }
}

.nav-text {
    padding: 0% 7%;
    position: fixed;
    right: 0;

    &__list {
        list-style: none;
    }
    &__tagline {
        max-width: 90%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 48px;
        line-height: 1.3em;
        color: #c2cdea;
        span {
            color: rgb(247, 229, 229);
        }
    }
}

.nav-menu {
    &__list {
        list-style: none;
    }
    &__item {
        cursor: pointer;
        display: block;
        position: relative;
        padding: 0.5em 0;
        -moz-transition: background-position .25s ease;
        -webkit-transition: background-position .25s ease;
        transition: background-position .25s ease;
        transition-property: background-position;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        transition-delay: 0s;
        background-image: url(nav-arrow.png);
        background-repeat: no-repeat;
        background-position: -40px 30%;
        background-position-x: -40px;
        background-position-y: 30%;
        background-size: 24px 55px;
        span {
            display: block;
            -webkit-transition: transform 0.2s ease;
            -moz-transition: transform 0.2s ease;
            transition: transform 0.2s ease;
        }
        &:hover {
            background-position: 0 20px;
            & span {
                transform: translateX(40px);
            }
        }
    }
    &__title {
        font-size: 1.5em;
        margin: 0 0 8px 0;
        font-weight: 400;
        line-height: 1.1;
        color: #fff;
        
    }
    &__description {
        font-size: 1em;
        margin: 0 0 20px;
        font-weight: 300;
        line-height: 1.5;
        color: #fff;
    }
}